<a class="nav-link" (click)="onSearch()">
    <i class="las la-search nav-icon"></i>
</a>

<div class="search-pane" [ngClass]="{'active': active}">
    <!-- Close -->
    <div class="px-2 py-3">
        <a class="close" (click)="onClose()">
            <i class="las la-times"></i>
        </a>
    </div>
    <!-- Close -->
    <div class="py-3">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
            <input type="text" class="form-control" placeholder="Search">
        </div>
    </div>
</div>