<div class="container py-3">
    <div class="row">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 px-1 mx-auto">
            <div class="card rounded shadow">
                <div class="card-header bg-white border-bottom-0">
                    <h4 class="display-4 title-sm mb-1 pb-1 text-center">
                        Login
                    </h4>
                </div>
                <div class="card-body">
                    <form [formGroup]="formData" (ngSubmit)="onLogin()">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <input type="email" class="form-control form-input" placeholder="Your Email"
                                        name="email" formControlName="email">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <input type="password" class="form-control form-input" placeholder="Password"
                                        name="passowrd" formControlName="password">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="form-group text-right">
                                    <button class="btn btn-success" [disabled]="formData.invalid || processing"
                                        type="submit">
                                        Log in
                                        <i class="las la-sign-in-alt"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer bg-dark">
                    <p class="text-center text-muted">
                        Don't have an account?
                        <a routerLink="/signup" class="text-white">Create one now</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>