<a class="nav-link text-center" placement="bottom-right" [ngbPopover]="popContent" popoverClass="bg-light">
    <i class="las la-user-circle nav-icon"></i>
    <p class="small mb-0">Account</p>
</a>

<ng-template #popContent>
    <div class="d-flex">
        <a routerLink="/profile" class="mr-3">
            <img [src]="baseUrl + user.image" alt="{{user.firstname}} image" class="avatar">
        </a>

        <span>
            <p class="mb-0">{{user.firstname}} {{user.lastname}}</p>
            <p class="small mb-0">
                {{user.email}}
            </p>
        </span>
    </div>
    <hr>
    <ul class="nav menu-nav px-0">
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center px-0" (click)="onLogOut()">
                <span class="mr-2">
                    <i class="las la-power-off la-2x"></i>
                </span>
                <span>
                    Log Out
                </span>
            </a>
        </li>
    </ul>
</ng-template>