<div class="text-center py-3">
    <h5>Cloudify</h5>

    <div class="col-10 col-sm-8 col-md-6 col-lg-4 mx-auto text-center">
        <a href="#" class="btn">
            <i class="lab la-facebook-square la-2x"></i>
        </a>
        <a href="#" class="btn">
            <i class="lab la-twitter-square la-2x"></i>
        </a>
        <a href="#" class="btn">
            <i class="lab la-instagram la-2x"></i>
        </a>
        <a href="#" class="btn">
            <i class="lab la-google-plus-square la-2x"></i>
        </a>
    </div>
</div>