<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
        aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation" *ngIf="!isLoggedIn">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" routerLink="/">
        Cloudify
    </a>

    <!-- Not Logged in -->
    <div class="collapse navbar-collapse" id="navbarToggler" *ngIf="!isLoggedIn">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" routerLink="/#features">
                    Features
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact">
                    Contact Us
                </a>
            </li>
        </ul>

        <div class="my-2 my-lg-0">
            <ul class="navbar-nav mt-2 mt-lg-0">
                <li class="nav-item active mr-lg-2 mb-3 mb-lg-0">
                    <a class="btn btn-sm btn-danger" routerLink="/signup">
                        Create Account
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-sm btn-light" routerLink="/login">
                        Login
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Not Logged in -->

    <!-- Logged in -->
    <div class="ml-auto" *ngIf="isLoggedIn">
        <ul class="nav mt-2 mt-lg-0">
            <li class="nav-item active mr-lg-2">
                <app-search></app-search>
            </li>
            <li class="nav-item active mr-lg-2">
                <app-avatar></app-avatar>
            </li>
        </ul>
    </div>
    <!-- Logged in -->
</nav>