<div class="container py-3">
    <div class="row">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 px-1 mx-auto">
            <div class="card rounded shadow">
                <div class="card-header bg-white border-bottom-0">
                    <h4 class="display-4 title-sm mb-1 pb-1 text-center">
                        Create your account
                    </h4>
                </div>
                <div class="card-body">
                    <form [formGroup]="formData" (ngSubmit)="onCreateAccount()">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <div class="d-flex align-items-center form-control form-input">
                                        <input type="text" placeholder="First name" name="firstname"
                                            formControlName="firstname">

                                        <a class="ml-3 py-2 pl-2" *ngIf="f.firstname.errors &&f.firstname.touched"
                                            placement="left" ngbTooltip="Please provide firstname">
                                            <i class="las la-times-circle text-danger"></i>
                                        </a>
                                        <span class="ml-2" *ngIf="!f.firstname.errors && f.firstname.touched">
                                            <i class="las la-check-circle text-success"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <div class="d-flex align-items-center form-control form-input">
                                        <input type="text" placeholder="Last name" name="lastname"
                                            formControlName="lastname">

                                        <a class="ml-3 py-2 pl-2" *ngIf="f.lastname.errors && f.lastname.touched"
                                            placement="left" ngbTooltip="Please provide lastname">
                                            <i class="las la-times-circle text-danger"></i>
                                        </a>
                                        <span class="ml-2" *ngIf="!f.lastname.errors && f.lastname.touched">
                                            <i class="las la-check-circle text-success"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <div class="d-flex align-items-center form-control form-input">
                                        <input type="email" placeholder="Email" name="email" formControlName="email">

                                        <a class="ml-3 py-2 pl-2" *ngIf="f.email.errors && f.email.touched"
                                            placement="left" ngbTooltip="Please provide a valid email">
                                            <i class="las la-times-circle text-danger"></i>
                                        </a>
                                        <span class="ml-2" *ngIf="!f.email.errors && f.email.touched">
                                            <i class="las la-check-circle text-success"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <div class="d-flex align-items-center form-control form-input">
                                        <input type="password" placeholder="Password" name="password"
                                            formControlName="password">

                                        <a class="ml-3 py-2 pl-2" *ngIf="f.password.errors && f.password.touched"
                                            placement="left" ngbTooltip="Please provide a password">
                                            <i class="las la-times-circle text-danger"></i>
                                        </a>
                                        <span class="ml-2" *ngIf="!f.password.errors && f.password.touched">
                                            <i class="las la-check-circle text-success"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <div class="d-flex align-items-center form-control form-input">
                                        <input type="password" placeholder="Retype Password" name="confirmPassword"
                                            formControlName="confirmPassword">

                                        <span *ngIf="f.confirmPassword.errors">
                                            <a class="ml-3 py-2 pl-2"
                                                *ngIf="f.confirmPassword.errors.required && f.confirmPassword.touched"
                                                placement="left" ngbTooltip="Please retype your password">
                                                <i class="las la-times-circle text-danger"></i>
                                            </a>

                                            <a class="ml-3 py-2 pl-2"
                                                *ngIf="f.confirmPassword.errors.mustMatch && f.confirmPassword.touched"
                                                placement="left" ngbTooltip="Password mismatch">
                                                <i class="las la-times-circle text-danger"></i>
                                            </a>
                                        </span>


                                        <span class="ml-2"
                                            *ngIf="!f.confirmPassword.errors && f.confirmPassword.touched">
                                            <i class="las la-check-circle text-success"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="form-group text-right">
                                    <button class="btn btn-danger" type="submit" [disabled]="formData.invalid">
                                        Create Account
                                        <i class="las la-arrow-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer bg-dark">
                    <p class="text-center text-muted">
                        Already have an account?
                        <a routerLink="/login" class="text-white">Login</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>