<div id="home" class="py-3 banner d-flex justify-content-center align-items-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto mt-3 text-center">
        <h4 class="display-4 title text-center">
            Secure Cloud Storage and Communication
            Privacy by Design
        </h4>

        <a routerLink="/signup" class="btn btn-danger mt-4">
            Create Account
        </a>
    </div>
</div>

<div id="features" class="bg-white py-3">
    <div class="container">
        <h4 class="display-4 title text-center mb-3">
            Why Cloudify?
        </h4>

        <div class="row mt-3">
            <div class="col-12 col-lg-3 mx-auto mb-4">
                <p>
                    <i class="la la-user-lock la-4x text-danger"></i>
                </p>
                <h4 class="display-4 title-sm">
                    Privacy
                </h4>
                <p>
                    By properly applying end-to-end encryption, CLOUDIFY achieves actual privacy by design.
                </p>
            </div>

            <div class="col-12 col-lg-3 mx-auto mb-4">
                <p>
                    <i class="la la-clock la-4x text-danger"></i>
                </p>
                <h4 class="display-4 title-sm">
                    Reliable
                </h4>
                <p>
                    CLOUDIFY owns and operates its redundant server infrastructure directly, ensuring that your data
                    always
                    remains available.
                </p>
            </div>

            <div class="col-12 col-lg-3 mx-auto mb-4">
                <p>
                    <i class="la la-shield la-4x text-danger"></i>
                </p>
                <h4 class="display-4 title-sm">
                    Secure
                </h4>
                <p>
                    CLOUDIFY is carefully engineered to achieve the highest level of security for its users.
                </p>
            </div>
        </div>
    </div>
</div>